.restaurant-container {
  background-size: contain;
  display: flex;
  align-items: flex-end;
  height: 200px;
  position: relative;
  margin-left: 30px;
  max-width: 100%;
  max-height: 20rem;
  margin: 10px;
  border: 2px solid #001f3f; /* Navy color */
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
  background-color: rgb(157, 187, 226);
  overflow: hidden;
  display: flex;
}

.restaurant-container::before {
  content: '';
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  height: 70px;
  background: rgba(255, 255, 255, 0.85);
  z-index: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.restaurant-content {
  display: flex;
  align-items: center;
  padding: 10px; 
  width: 100%; 
  z-index: 1;
}


.restaurant-name {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000;
  text-transform: uppercase; 
  letter-spacing: 0.01em; 
}
