.abContainer {
  overflow: hidden;
}

.abContainer,
.abContainer * {
  box-sizing: border-box;
}

.abContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
  position: relative;
  width: 383px;
  margin-left: auto;
  margin-right: 5em;
  margin-top: 1em;
}

.aboutRow {
  display: flex; 
  align-items: center; 
  gap: 0.35em;
}

.sugContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 384px;
  padding: 24px 24px 24px 24px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 24px;
  backdrop-filter: blur(21px);
  border: 3px solid navy;
  margin-top: 20px;
}

.divider {
  height: 1px;
  background-color: rgb(227, 225, 225); 
  width: 100%; 
  margin: 0;
}

.headerText {
  flex-shrink: 0;
  position: relative;
  color: rgb(7, 20, 59);
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0.46px;
}

.wrapperAbout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 384px;
  padding: 24px 24px 24px 24px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 24px;
  backdrop-filter: blur(21px);
  border: 3px solid navy;
  margin-top: 20px;
}

.aboutInfo {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  color: rgb(7, 20, 59);
  letter-spacing: 0.32px;
  text-decoration: underline;
}

.aboutInfoAns {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  color: rgb(7, 20, 59);
  letter-spacing: 0.32px;
}

.wrapperSuggestions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 32px;
  position: relative;
  width: 317px;
}