/******************* HOME PAGE *******************/

/* Header container styling */
.headerContainer {
  background-color: #14487b; /* Navy color */
  color: #c7def3; /* Text color */
  padding: 30px; 
}

/* Header styling */
.header {
  margin-bottom: 10px;
  font-size: 2rem;
  background-color: #1d64ab; /* Navy color */
  color: #c7def3;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

/* Title styling */
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  word-spacing: 5px;
  margin-left: 38%;
  color: #0e1013; /* Navy color */
  cursor: pointer;
  
}

/* Icon styling */
.iconTop {
  width: 20%;
  max-width: 50px;
  margin-left: 10px; /* Add margin for spacing between title and logo */
  margin-right: 10px;
  align-items: center;
}

/* User image styling */
.userIm {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.userIm img {
  width: 30px;
  height: auto;
  padding-right: 3px;
}

.userIm:hover {
  transform: scale(1.2);
}

/* Header line styling */
.headerLine {
  width: 100%;
  height: 4px; 
  background-color: #001f3f; /* Navy color */
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Container styling */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 2px;
}

/* Textbox styling */
.textbox {
  border: 1px solid #f3f3f3;
  color: #001f3f;
  height: 2rem;
  outline: none;
  box-sizing: border-box;
  padding: 3px 10px;
  transition: 0.2s ease-in-out;
  width: 100%;
  max-width: 100%; /* Change to 100% to take up the full width of the container */
  display: flex;
  flex-direction: row;
}

/* Placeholder styling */
.textbox::placeholder {
  color: #001f3f; /* Dark blue color */
}

/* Suggestions styling */
.suggestions {
  overflow-y: scroll;
  border: 1px solid #f3f3f3;
  background-color: #c7def3;
  max-height: 20rem;
  width: 100%; /* Change to 100% to take up the full width of the container */
  margin: 10px auto;
  height: fit-content;
  position: absolute;
  z-index: 10;
  left: 0; /* Adjusted to start from the left edge */
  right: 0; /* Added to ensure the suggestions box extends to the right edge */
  transition: opacity 0.3s ease;
}

/* Focused textbox styling */
.textbox:focus {
  border: 1px solid #001f3f; /* Navy color on focus */
  transition: 0.2s ease-in-out;
}

/* Hidden suggestions styling */
.suggestions.hidden {
  visibility: hidden;
}

/* Suggestion styling */
.suggestion {
  cursor: pointer;
  box-sizing: border-box;
  padding: 1px 10px;
  height: 2rem;
  display: flex;
  align-items: center;
}

/* Hovered suggestion styling */
.suggestion:hover {
  background-color: #345bc4;
}

/* Search bar container styling */
.searchBarContainer {
  position: relative;
  background-color: rgb(62, 129, 224);
}

/* Search bar line styling */
.searchBarLine {
  width: 100%;
  height: 4px; 
  background-color: #001f3f; /* Navy color */
  margin-top: 20px; 
  margin-bottom: 10px;
}

/* Button container styling */
.buttonContainer {
  position: relative;
}

/* Button row styling */
.buttonRow {
  display: flex;
  position: relative; /* Add position relative to the button row */
  background-color: #104881; /* Navy color for button row */
}

/* Toggle button styling */
.toggleButton {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #10579e; /* Navy color */
  color: #95b5d5; /* Navy color */
  transition: background-color 0.3s ease;
  position: relative; /* Add position relative to the button */
}

/* Dropdown styling */
.dropdown {
  position: absolute;
  top: 100%; /* Adjusted to position the dropdown beneath the button */
  left: 0;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease;
}

/* Active toggle button styling */
.toggleButton.active {
  background-color: #001f3f; /* Navy color */
  color: white;
}

/* Show dropdown when button is active */
.toggleButton.active .dropdown {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s ease;
  background-color: #001f3f; /* Navy color */
  color: white;
}

/* Dropdown item styling */
.dropdownItem {
  padding: 10px;
  cursor: pointer;
  background-color: white; /* White background */
  color: #001f3f; /* Navy color */
}

/* Hovered dropdown item styling */
.dropdownItem:hover {
  background-color: #001f3f; /* Navy color on hover */
  color: white;
}

/* Dropdown icon styling */
.dropdownIcon {
  margin-left: 5px;
  font-size: 0.8em;
}

/******************* BUTTON STYLE *******************/


/* Button container styling */
.buttonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 2; /* Ensure the button container is above the dropdown */
  width: 100%;
}

/* Button row styling */
.buttonRow {
  display: flex;
  flex-direction: row;
  position: relative; /* Add position relative to the button row */
  background-color: #104881; /* Navy color for button row */
}

/* Toggle button styling */
.toggleButton {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #10579e; /* Navy color */
  color:  #f0f8ff; /* Navy color */
  transition: background-color 0.3s ease;
  position: relative; /* Add position relative to the button */
  flex-direction: row;
}

/* Dropdown styling */
.dropdown {
  position: absolute;
  top: 100%; /* Adjusted to position the dropdown beneath the button */
  left: 0;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease;
}

/* Active toggle button styling */
.toggleButton.active {
  background-color: #001f3f; /* Navy color */
  color: white;
}

/* Show dropdown when button is active */
.toggleButton.active + .dropdown {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s ease;
  background-color: #001f3f; /* Navy color */
  color: white;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 100%;
}

/* Dropdown item styling */
.dropdownItem {
  padding: 10px;
  cursor: pointer;
  background-color: white; /* White background */
  color: #001f3f; /* Navy color */
}

/* Hovered dropdown item styling */
.dropdownItem:hover {
  background-color: #001f3f; /* Navy color on hover */
  color: white;
}

/* Dropdown icon styling */
.dropdownIcon {
  margin-left: 5px;
  font-size: 0.8em;
}

/***********SELECTED OPTIONS*************/

.toggleButton.selected {
  background-color: rgb(157, 187, 226);
  color: #000000;
  font-weight: bold;
  border-color: rgb(0, 0, 0); 
}

.dropdownItem.selected {
  background-color: lightgrey; 
  font-weight: bold;
}

/***********RESET BUTTON*************/

/* Add this style for the reset button container */
.resetButtonContainer {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust the margin as needed */
}

/* Add this style for the reset button */
.resetButton {
  border: 1px solid #ffffff; /* White outline */
  background-color: #001f3f;  /* Transparent background */
  color: #ffffff; /* White text color */
  border-radius: 5px; /* Rounded rectangular edges */
  padding: 5px 10px; /* Adjust padding as needed */
  margin-top: .8px;
  margin-bottom: .8px;
  height: 70% ;
  cursor: pointer;
}