.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.imagePreview {
  max-width: 300px;
  max-height: 300px;
}

.mainUserContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: start;
}

@media (max-width: 1250px) {
  .main-user-container {
    flex-direction: column;
    align-items: center;
  }
}

.leftContainer {
  flex: 1;
}

.rightContainer {
  flex: 1;
}

.restaurantContainer {
  background-size: contain;
  display: flex;
  align-items: flex-end;
  height: 200px;
  position: relative;
  margin-left: 30px;
  max-width: 100%;
  max-height: 20rem;
  margin: 10px;
  border: 2px solid #001f3f; /* Navy color */
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
  background-color: rgb(157, 187, 226);
  overflow: hidden;
  display: flex;
}

.restaurantContainer::before {
  content: "";
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  height: 70px;
  background: rgba(255, 255, 255, 0.85);
  z-index: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.restaurantContent {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  z-index: 1;
}

.restaurantName {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewTitle {
  font-size: 1.2rem;
  text-align: center;
  width: 75%;
  color: #b8d2ec;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #122b44;
  background-color: #003366;
  border-radius: 8px;
  padding: 10px;
  margin: 25px;
  margin-left: 160px;
}

.noReview {
  font-size: 1rem;
  text-align: center;
  width: 75%;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  margin: 25px;
  margin-left: 150px;
}

/* Styling for the main post container */
.postContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  border: 2px solid #001f3f; /* Navy color */
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 20px;
}

/* Styling for the main post container */
.textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 20px;
}

/* Styling for the header container */
.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

/* Styling for the user profile icon */
.userProfileIcon {
  width: 29px;
  height: 20px;
  display: flex;
  justify-content: flex-end; /* Adjusted to move the icon to the right */
  align-items: center; 
}

/* Styling for the explanatory labels */
.label {
  color: #001f3f; /* Navy color */
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 5px; /* Add some spacing between the labels and the textboxes */
}

/* Styling for the textboxes */
.textbox {
  width: 95%;
  height: 20px; /* Adjusted height for consistency */
  padding: 10px;
  margin-bottom: 15px; /* Add some spacing between the textboxes */
  margin-right: 20px; /* Added margin-right for spacing */
  border: 2px solid #001f3f; /* Navy color */
  border-radius: 5px;
  outline: none;
}

/* Styling for the close button */
.closeButton {
  width: 100%;
  font-size: 14px;
  color: #ffffff;
  background-color: #003366;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; /* Adjusted margin-top */
}

/* Styling for the post button */
.postButton button {
  width: 95%;
  font-size: 20 px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b8d2ec;
  text-decoration: none;
  font-weight: bold;
  background-color: #003366;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  margin-left: 20px;
}

/* Styling for the write a review button */
.reviewButton button {
  width: 95%;
  font-size: 1.2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b8d2ec;
  text-decoration: none;
  font-weight: bold;
  background-color: #003366;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  margin-left: 30px;
}

/* Styling for the modal */
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  /* Adjust the width as needed */
  width: 50%;
}