/*****************REVIEW*******************************/
.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  text-align: center;
  border: 2px solid navy;
}

.timeAndDeleteContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

<<<<<<< HEAD:frontend/src/styles/Review.css
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-title {
  font-size: 1.2rem;
  text-align: center;
  width: 75%;
  color: #b8d2ec; 
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #122b44; /* Navy color */
  background-color: #003366;
  border-radius: 8px;
  padding: 10px;
  margin: 25px;
  margin-left: 160px;
  
}

.review-restaurant{
=======
.reviewRestaurant{
>>>>>>> 9652e22eb720c1a7d37553064613ae9359524aa6:src/styles/Review.module.css
  font-weight: 700;
  font-size: 24px;
  color: #07143B;
} 

.mainContainer,
.mainContainer * {
  box-sizing: border-box;
}

.mainContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%; 
  max-width: 800px; 
  position: relative;
}

.wrapperReview {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.6);
  gap: 20px;
  padding: 20px;
  border-radius: 24px;
  width: 50vw;
  max-width: 40vw;
  justify-content: center;
  margin-bottom: 1em;
  text-align: center;
  border: 2px solid navy;
}


@media screen and (min-width: 768px) { 
  .wrapperReview {
    margin-left: 9em; 
    margin-right: 0;
  }
}

.timeText {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 23px;
  color: #07143b;
  font-size: 13px;
  font-weight: 400;
  line-height: 22.75px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.26px;
}

.reviewImageContainer {
  width: 100%; 
  height: auto; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.reviewImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
  margin: 10px;
  border-radius: 20px;
  border: 2px solid #000000;
}

.reviewURestaurant{
  font-weight: 700;
  font-size: 19px;
  color: #07143B;
}

.divider {
  height: 1px;
  background-color: rgb(227, 225, 225); 
  width: 100%; 
  margin: 0;
}