

.ab-container {
  overflow: hidden;
}

.ab-container,
.ab-container * {
  box-sizing: border-box;
}

.ab-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
  position: relative;
  width: 383px;
  margin-left: auto;
  margin-right: 5em;
  margin-top: 1em;
}

.about-row {
  display: flex; 
  align-items: center; 
  gap: 0.35em;
}

.sug-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 32px;
  position: relative;
  width: 365px;
  padding: 24px 24px 24px 24px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 18;
  border-radius: 24px;
  backdrop-filter: blur(21px);
}

.divider {
  height: 1px;
  background-color: rgb(227, 225, 225); 
  width: 100%; 
  margin: 0;
}

.header-text {
  flex-shrink: 0;
  position: relative;
  color: rgb(7, 20, 59);
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0.46px;
}

.wrapper-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 384px;
  padding: 24px 24px 24px 24px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 24px;
  backdrop-filter: blur(21px);
}

.about-info {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  color: rgb(149, 152, 149);
  letter-spacing: 0.32px;
}

.about-info-ans {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  color: rgb(135, 84, 49);
  letter-spacing: 0.32px;
}

.wrapper-suggestions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 32px;
  position: relative;
  width: 317px;
}