/******************* RESTAURANT SEARCH *******************/

/* Container for the restaurant boxes */
.restaurant-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 95%;
  margin: 0 auto;
  background-color: #f0f8ff; /* Light blue background */
}

/* Restaurant box styling */
.restaurant-box {
  width: 100%;
  max-height: 20rem;
  margin: 10px;
  border: 2px solid #001f3f; /* Navy color */
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
  background-color: rgb(94, 145, 217);
  overflow: hidden;
  display: flex;
}

/* Adjust the width of the restaurant box for larger screens */
@media (min-width: 768px) {
  .restaurant-box {
    width: 80%;
  }
}

/* Adjust the width of the restaurant box for smaller screens */
@media (max-width: 767px) {
  .restaurant-box {
    width: 100%;
  }
}

.image-container {
  width: 50%;
  overflow: hidden;
  border-right: 2px solid #001f3f; /* Navy color */
}

.image-container img {
  width: 100%;
  height: auto;

}

.info-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; /* Added width for the text container */
}

.titleRest {
  font-size: 1.2rem;
  width: 75%;
  color: #122b44; /* Navy color */
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  border: 2px solid #122b44; /* Navy color */
  background-color: #95b5d5;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.cuisine {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #001f3f; /* Navy color */
}

/* Add this CSS to center stars above the dollar signs */
.ratings {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.ratings span {
  margin-right: 3px;
}

/* Add this CSS for the reviews in a smaller font on the right side */
.ratings span:last-child {
  margin-left: auto;
  font-size: 0.8rem;
}

/* Add this CSS for the dollar signs */
.dollar-signs {
  display: flex;
  align-items: center;
  margin-top: 5px; /* Adjust as needed for spacing */
}

.dollar-signs span {
  margin-right: 3px;
  font-size: 0.8rem;
}


.address {
  font-size: 0.9rem;
  color: #122b44;
}

/******************* HOME PAGE *******************/

/* Header container styling */
.header-container {
  background-color: #14487b; /* Navy color */
  color: white; /* Text color */
  padding: 30px; /* Adjust the padding as needed */
}

/* Header styling */
.header {
  margin-bottom: 10px;
  font-size: 2rem;
  background-color: #1d64ab; /* Navy color */
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

/* Title styling */
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  word-spacing: 5px;
  margin-left: 38%;
  color: #0e1013; /* Navy color */
}

/* Icon styling */
.iconTop {
  width: 20%;
  max-width: 50px;
  margin-left: 10px; /* Add margin for spacing between title and logo */
  margin-right: 10px;
  align-items: center;
}

/* User image styling */
.userIm {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.userIm img {
  width: 30px;
  height: auto;
  padding-right: 3px;
}

.userIm:hover {
  transform: scale(1.2);
}

/* Header line styling */
.headerLine {
  width: 100%;
  height: 4px; /* Adjust thickness as needed */
  background-color: #001f3f; /* Navy color */
  margin-top: 20px; /* Adjust margin to create space above the line */
  margin-bottom: 10px;
}

/* Container styling */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 2px;
}

/* Textbox styling */
.textbox {
  border: 1px solid #f3f3f3;
  color: #001f3f;
  height: 2rem;
  outline: none;
  box-sizing: border-box;
  padding: 3px 10px;
  transition: 0.2s ease-in-out;
  width: 100%;
  max-width: 100%; /* Change to 100% to take up the full width of the container */
  display: flex;
  flex-direction: row;
}

/* Placeholder styling */
.textbox::placeholder {
  color: #001f3f; /* Dark blue color */
}

/* Suggestions styling */
.suggestions {
  overflow-y: scroll;
  border: 1px solid #f3f3f3;
  background-color: white;
  max-height: 20rem;
  width: 100%; /* Change to 100% to take up the full width of the container */
  margin: 10px auto;
  height: fit-content;
  position: absolute;
  z-index: 10;
  left: 0; /* Adjusted to start from the left edge */
  right: 0; /* Added to ensure the suggestions box extends to the right edge */
  transition: opacity 0.3s ease;
}

/* Focused textbox styling */
.textbox:focus {
  border: 1px solid #001f3f; /* Navy color on focus */
  transition: 0.2s ease-in-out;
}

/* Hidden suggestions styling */
.suggestions.hidden {
  visibility: hidden;
}

/* Suggestion styling */
.suggestion {
  cursor: pointer;
  box-sizing: border-box;
  padding: 1px 10px;
  height: 2rem;
  display: flex;
  align-items: center;
}

/* Hovered suggestion styling */
.suggestion:hover {
  background-color: #345bc4;
}

/* Search bar container styling */
.search-bar-container {
  position: relative;
  background-color: rgb(62, 129, 224);
}

/* Search bar line styling */
.search-bar-line {
  width: 100%;
  height: 4px; /* Adjust thickness as needed */
  background-color: #001f3f; /* Navy color */
  margin-top: 20px; /* Adjust margin to create space above the line */
  margin-bottom: 10px;
}

/* Button container styling */
.button-container {
  position: relative;
}

/* Button row styling */
.button-row {
  display: flex;
  position: relative; /* Add position relative to the button row */
  background-color: #104881; /* Navy color for button row */
}

/* Toggle button styling */
.toggle-button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #10579e; /* Navy color */
  color: #95b5d5; /* Navy color */
  transition: background-color 0.3s ease;
  position: relative; /* Add position relative to the button */
}

/* Dropdown styling */
.dropdown {
  position: absolute;
  top: 100%; /* Adjusted to position the dropdown beneath the button */
  left: 0;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease;
}

/* Active toggle button styling */
.toggle-button.active {
  background-color: #001f3f; /* Navy color */
  color: white;
}

/* Show dropdown when button is active */
.toggle-button.active .dropdown {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s ease;
  background-color: #001f3f; /* Navy color */
  color: white;
}

/* Dropdown item styling */
.dropdown-item {
  padding: 10px;
  cursor: pointer;
  background-color: white; /* White background */
  color: #001f3f; /* Navy color */
}

/* Hovered dropdown item styling */
.dropdown-item:hover {
  background-color: #001f3f; /* Navy color on hover */
  color: white;
}

/* Dropdown icon styling */
.dropdown-icon {
  margin-left: 5px;
  font-size: 0.8em;
}

/******************* LOGIN PAGE *******************/

/* Body styling */
html, body {
  height: 100%;
  margin: 0;
  background: #f0f8ff; /* Light blue background */
  font-family: Inter, sans-serif;
}

/* Main container styling */
.main-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f8ff; /* Light blue background */
}

/* Login form styling */
.login-form {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 20px;
}

/* Block-level element styling */
label, input, button, a {
  display: block;
  width: 100%;
  margin: 0.6rem 0;
}

/* Input styling */
input {
  padding: 0.5rem;
  border: 2px solid #001f3f; /* Navy color */
  border-radius: 20px;
  background: transparent;
}

/* Button styling */
button {
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  background: #001f3f; /* Navy color */
  color: white;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

/* Hovered button styling */
button:hover {
  background: #003366; /* Darker navy color on hover */
}

/* Login button styling */
.login-button {
  width: 355px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Google button styling */
.google-button {
  width: 355px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

/* Anchor styling */
a {
  color: #001f3f; /* Navy color */
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

/* Welcome message styling */
.welcome-message {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #001f3f; /* Navy color */
}

/* Register prompt styling */
.register-prompt span, .register-prompt a {
  display: inline;
}

/************************************************/

/* User container styling */
.user-container {
  background: rgb(255, 255, 255);
  background-size: contain;
  border-radius: 0 0 24px 24px;
  display: flex;
  align-items: flex-end;
  height: 200px;
  position: relative;
}

/* User container pseudo-element styling */
.user-container::before {
  content: '';
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  background: rgba(255, 255, 255, 0.785);
  z-index: 0;
  border-radius: 0 0 24px 24px;
}
.user-content {
  display: flex;
  align-items: center;
  padding: 10px; 
  width: 100%; 
  z-index: 1;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px; 
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.user-info {
  display: flex;
  flex-direction: column;
}




